        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            width: 100%;

        }

     h1 {
            
            flex-direction: column;
            text-align: center;
           
        }


        label {
            font-weight: bold;
            display: block;
            margin-bottom: 5px;
        }

        input,
        textarea,
        button {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            box-sizing: border-box;
            resize: none;
        }

        form button {
            background-color: #4caf50;
            color: #fff;
            cursor: pointer;
            border-radius: 1px;

        }

        #submitBtn {
            transition: transform 0.5s;
        }

        #submitBtn.clicked {
            transform: translateX(50px); /* Ajuste conforme necessário */
        }